[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
fastapi = "*"
uvicorn = "*"
django-channels = "*"
djoser = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-rest-auth = "*"
djangorestframework-simplejwt = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
